/* Fonts Mixing */
@mixin font-default ($size: 16px, $weight: 400, $color: #000) {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin title-default ($size: 30px, $weight: 600, $color: #000, $align: center, $transform: initial) {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: $align;
  text-transform: $transform;
  color: $color;
  font-size: $size;
  font-weight: $weight;
  margin: 5px auto 15px;
}
